
<div class="button-container">
        <div class="button-row">
            <div class="button-with-image">
                <img class="imgBoton" src="/img/Hosppp-Photoroom.png" alt="Hospital">
                <a class = "linkHome" href='@Url.Action("C_Hospitales", new {idUsuario = 1})'>Hospitales</a>
            </div>

            <div class="button-with-image">
                <img class="imgBoton" src="/img/contacto-Photoroom.png" alt="Contacto">
                <a class = "linkHome" href='@Url.Action("C_Hospitales", new {idUsuario = 1})'>Contacto</a>
            </div>
        </div>
        
        <div class="button-row">
            <div class="button-with-image">
                <img class="imgBoton" src="/img/listasProcesadas.png" alt="ListaProcesados">
                <a class = "linkHome" href='@Url.Action("C_Hospitales", new {idUsuario = 1})'>Lista Procesados</a>
            </div>
            
            <div class="button-with-image">
                <img class="imgBoton" src="/img/subirMuestra.png" alt="SubirMuestra">
                <a class = "linkHome" href='@Url.Action("C_SubirMuestra", new {idUsuario = 1})'>Subir Muestra</a>
            </div>

        </div>
        
    </div>
    