@{
    ViewData["Title"] = "Home";
}

<body>
<br><br><br>
    @foreach (Muestra muestra in ViewBag.Muestras)
    {
        <p>@muestra.NombreBebe</p>
        <p>@muestra.ApellidoBebe</p>
    }
</body>
</html>
