<form method="post" action = '@Url.Action("GuardarSubirMuestra")' enctype = "multipart/form-data">
            <input id="idUsuario" name="idUsuario" type="hidden" value="@ViewBag.idUsuario">

            <input type="text" name="IdResultado" id="IdResultado" value = "IdResultado" autocomplete="off">
            <input type="text" name="InstitucionNacimiento" id="InstitucionNacimiento" value="InstitucionNacimiento" autocomplete="off">
<input type="text" name="IdHospitalMuestra" id="IdHospitalMuestra" value="IdHospitalMuestra" autocomplete="off">
<input type="text" name="ApellidoBebe" id="ApellidoBebe" value="ApellidoBebe" autocomplete="off">
<input type="text" name="NombreBebe" id="NombreBebe" value="NombreBebe" autocomplete="off">
<input type="text" name="FechaHoraNacimiento" id="FechaHoraNacimiento" value="FechaHoraNacimiento" autocomplete="off">
<input type="text" name="FechaHoraExtraccion" id="FechaHoraExtraccion" value="FechaHoraExtraccion" autocomplete="off">
<input type="text" name="Sexo" id="Sexo" value="Sexo" autocomplete="off">
<input type="text" name="Alimentacion" id="Alimentacion" value="Alimentacion" autocomplete="off">
<input type="text" name="FechaIngestaLeche" id="FechaIngestaLeche" value="FechaIngestaLeche" autocomplete="off">
<input type="text" name="SemanasGestacion" id="SemanasGestacion" value="SemanasGestacion" autocomplete="off">
<input type="text" name="Peso" id="Peso" value="Peso" autocomplete="off">
<input type="text" name="CondicionRN" id="CondicionRN" value="CondicionRN" autocomplete="off">
<input type="text" name="PatologiaBase" id="PatologiaBase" value="PatologiaBase" autocomplete="off">
<input type="text" name="Parto" id="Parto" value="Parto" autocomplete="off">
<input type="text" name="EmbarazoMultiple" id="EmbarazoMultiple" value="EmbarazoMultiple" autocomplete="off">
<input type="text" name="EmbarazoGemelar" id="EmbarazoGemelar" value="EmbarazoGemelar" autocomplete="off">
<input type="text" name="ApellidoMama" id="ApellidoMama" value="ApellidoMama" autocomplete="off">
<input type="text" name="NombreMama" id="NombreMama" value="NombreMama" autocomplete="off">
<input type="text" name="Documento" id="Documento" value="Documento" autocomplete="off">
<input type="text" name="Domicilio" id="Domicilio" value="Domicilio" autocomplete="off">
<input type="text" name="Localidad" id="Localidad" value="Localidad" autocomplete="off">
<input type="text" name="Telefono" id="Telefono" value="Telefono" autocomplete="off">
<input type="text" name="LugarControlEmbarazo" id="LugarControlEmbarazo" value="LugarControlEmbarazo" autocomplete="off">
<input type="text" name="Antibioticos" id="Antibioticos" value="Antibioticos" autocomplete="off">
<input type="text" name="DesinfectantesYodados" id="DesinfectantesYodados" value="DesinfectantesYodados" autocomplete="off">
<input type="text" name="Transfusion" id="Transfusion" value="Transfusion" autocomplete="off">
<input type="text" name="FechaTransfusion" id="FechaTransfusion" value="FechaTransfusion" autocomplete="off">
<input type="text" name="Dopamina" id="Dopamina" value="Dopamina" autocomplete="off">
<input type="text" name="Dobutamina" id="Dobutamina" value="Dobutamina" autocomplete="off">
<input type="text" name="CorticoidesMadre" id="CorticoidesMadre" value="CorticoidesMadre" autocomplete="off">
<input type="text" name="CorticoidesBebe" id="CorticoidesBebe" value="CorticoidesBebe" autocomplete="off">
<input type="text" name="Tiroidepatias" id="Tiroidepatias" value="Tiroidepatias" autocomplete="off">
<input type="text" name="Otras" id="Otras" value="Otras" autocomplete="off">
<input type="text" name="RepiteMuestra" id="RepiteMuestra" value="RepiteMuestra" autocomplete="off">
<input type="text" name="Prematuro" id="Prematuro" value="Prematuro" autocomplete="off">
<input type="text" name="MalaMuestra" id="MalaMuestra" value="MalaMuestra" autocomplete="off">
<input type="text" name="ResultadoAlterado" id="ResultadoAlterado" value="ResultadoAlterado" autocomplete="off">
<input type="text" name="Analitico" id="Analitico" value="Analitico" autocomplete="off">
<input type="text" name="Responsable" id="Responsable" value="Responsable" autocomplete="off">
<input type="text" name="RolResponsable" id="RolResponsable" value="RolResponsable" autocomplete="off">
<input type="text" name="FirmaSello" id="FirmaSello" value="FirmaSello" autocomplete="off">
<input type="text" name="FechaEnvio" id="FechaEnvio" value="FechaEnvio" autocomplete="off">
<input type="text" name="FechaLlegada" id="FechaLlegada" value="FechaLlegada" autocomplete="off">
<input type="text" name="Observaciones" id="Observaciones" value="Observaciones" autocomplete="off">


        <input type = 'Submit' role="button" value = 'Siguiente' id="submit" name="submit"><br><br>
        </form>