@import 'https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap';

body {
  margin: 0;
	font-family: 'Montserrat', sans-serif;
	scroll-behavior: smooth;
}

header {
  background-color: #F9F9F9;
  padding: 10px 0;
  border-bottom: 2px solid #03348a; 
}

a {
	font-family: 'Montserrat', sans-serif;
	scroll-behavior: smooth;
  font-size: 1.3em;
  text-decoration: none;
  font-weight: lighter; /* Corregido el valor de font-weight */
}

/*subir muestra estilo*/

h2 {
  text-align: center;
  color: #333;
}
.form-container {
  max-width: 80%;
  margin-left: 1em;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
h3 {
  margin-left: 1.5em;
  color: #333;
}
label {
  display: block;
  margin-left: 2em;
  margin-bottom: 6px;
  font-weight: bold;
}
input[type="text"],
input[type="number"],
input[type="datetime-local"],
select,
textarea {
  width: 50%;
  margin-left: 2em;
  padding: 1em;
  margin-bottom: 1em;
  border: 1px solid #ddd;
  border-radius: 4px;
}
button {
  background-color: #03348a;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 2em;
}
button:hover {
  background-color: #0056b3;
}
.hidden {
  display: none;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2em;
}

.logo img {
  max-width: 16em; 
}

.nav-links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  font-weight: lighter;
}

.nav-links li {
  margin-right: 2em;
  font-weight: lighter;
}

.nav-links li:last-child {
  margin-right: 0;
  font-weight: lighter;
}

.nav-links .linkHeader {
  color: #00276A;
  text-decoration: none;
  transition: color 0.3s ease;
  font-weight: lighter;
}

.nav-links .linkHeader:hover {
  color: #7d99e5;
  font-weight: lighter;
}

/*BOTONES*/

.button-container {
  margin-top: 4.5em;
  padding: 3em;
}

.button-row {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 3em;
}

.button-with-image {
  display: flex;
  align-items: center;
}

.button-with-image img {
  height: 4.7em; 
  width: auto;
  margin-right: 2em; 
}

.linkHome {
  width: 17em;
  height: 3em;
  background-color: #ffffff;
  margin-right: 5em;
  color: #003A9F;
  border: none;
  border-radius: 0.6em;
  box-shadow: 2px 2px 8px rgba(97, 93, 93, 0.5);
  cursor: pointer;
  font-size: 1.2em;
  transition: background-color 0.3s;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-weight: lighter;
}

.botonHeader{
  width: 17em;
  height: 3em;
  background-color: #ffffff;
  margin-right: 3em;
  color: #003A9F;
  border: none;
  cursor: pointer;
  font-size: 1.2em;
  transition: background-color 0.3s;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.linkHome:hover {
  background-color: #c2e1ee;
  font-weight: lighter;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	font-family: 'Montserrat', sans-serif;
	scroll-behavior: smooth;
}

.form-section {
  margin-bottom: 20px;
}

.form-section legend {
  font-size: 20px;
  font-weight: bold; /* Mantener el grosor del texto para los títulos */
  color: #333;
  margin-bottom: 10px;
  border-bottom: 2px solid #ccc;
  padding-bottom: 5px;
}

.form-section legend + * {
  font-weight: lighter; /* Reducir el grosor del texto para los subtítulos */
}

.form-section label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold; /* Mantener el grosor del texto para las etiquetas */
}

.form-section input[type="text"],
.form-section input[type="number"],
.form-section input[type="tel"],
.form-section input[type="date"],
.form-section select,
.form-section textarea {
  width: calc(100% - 12px);
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  box-sizing: border-box;
}

.form-section textarea {
  resize: vertical;
  min-height: 100px;
}

.form-section select {
  width: 100%;
}

/* Ajustes para los campos de fecha */
.form-section input[type="datetime-local"],
.form-section input[type="datetime-local"] + br {
  margin-bottom: 15px; /* Aumenta el espacio entre campos de fecha */
}

.form-section input[type="submit"]:hover {
  background-color: #03348a;
}

/*OPCIONAL*/
.opcional{
  color: #6e6e6e;
  font-size: 0.8em;
}




/*lISTAS SIN PROCESAR (TEMPORAL)*/

.muestra-form-container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  border-radius: 5px;
}

.muestra-form {
  margin-top: 20px;
}

.form-group {
  margin-bottom: 10px;
}

.form-control {
  width: 100%;
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.btn-primary {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
}

.btn-primary:hover {
  background-color: #0056b3;
}