@{
    ViewData["Title"] = "Hospitales";
}
    <div>
        <h2>Hospitales</h2>
    </div>
    <div>
        <!-- acá va a estar la búsqueda también-->
        <button type="submit">Agregar hospital</button>

    </div>
    <div class = "hospitales-container">
        @foreach (Hospital hospital in ViewBag.Hospitales)
        {
        <div class="cont">
            <div class="row">
                <div class="infoHospi">
                    <h3>@hospital.NombreHospital</h3>
                    <p>Teléfono: @hospital.Telefono</p>
                    <p>Servicio: @hospital.Servicio</p>
                    <button type = "button" data-bs-toggle="modal" data-bs-target="#InfoModal" onclick="MostrarHospital(@hospital.IdHospital)">Más información</button>
                </div>
            </div>
        </div>
        }
    </div>


<!-- Modal -->
<div class="modal fade" id="InfoHospital" tabindex="-1" aria-labelledby="infoModal" aria-hidden="true"> 
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="NombreHospital"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="Direccion"></div>
                <div id="Localidad"></div>
                <div id="Provincia"></div>
                <div id="Servicio"></div>
                <div id="Responsable"></div>
                <div id="Telefono"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>